<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/header.ejs') %>
    <body>
     <%- include ('partials/navbar.ejs') %>
      <div class="wrapper main_container" >
        <div class="item">
         
        </div>
        <div class="item" style="position: absolute;margin-left: 17%;margin-top: 6%;">
            <h3>Mr./Miss <%= user.username%> </h3> 
            <div class="form-container">
                <div class="table">
                    <div class="feilds">
                        <label for="name" class="fieldname"><span class="content-name">Name</span></label>
                        <input type="text" class="input">
                    </div>
                    <div class="feilds">
                        <label for="name" class="fieldname"><span class="content-name">Email</span></label>
                        <input type="text" class="input">
                    </div>
                    <div class="feilds">
                        <label for="name" class="fieldname"><span class="content-name">Address</span></label>
                        <input type="text" class="input">
                    </div>
                    <div class="feilds">
                        <label for="name" class="fieldname"><span class="content-name">Name</span></label>
                        <input type="text" class="input">
                    </div>
                </div>
                <div class="button">

                </div>
            </div>
            
        </div>
        
        </div>
    </body>
</html>