<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
        <section class="outerring">
            <div class="inner90">
                <div class="inner30">
                    <div class="form-container">
                        <form action="/savedata" method="POST">
                        <div class="table">
                            <div class="feilds">
                                <input type="text" class="input" name="user" id="name" placeholder="Name" required>
                            </div>
                            <div class="feilds">                                 
                                <input type="email" class="input" name="gmail" id="gmail" placeholder="Email" required>
                            </div>
                            <div class="feilds">                             
                                <input type="text" class="input" placeholder="Address" id="Address" name="Address" required>
                            </div>
                            <div class="feilds">
                                <input type="text" class="input" placeholder="Phone" id="phone" name="phone" required>
                            </div>
                        </div>
                        <div class="button" style="padding: 8px 10px; text-align: justify;">
                            <button type="submit"style=" padding:  8px 10px;;">submit</button>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="inner30">
                    <div class="form-container">
                        <div class="table">
                            <div class="feilds">                               
                                <input type="text" class="input" required name="">
                            </div>
                            <div class="feilds">                               
                                <input type="text" class="input" required name="">
                            </div>
                            <div class="feilds">
                                <input type="text" class="input" required name="">
                            </div>
                                 <div class="feilds">
                            <input type="text" class="input"required name="">
                            </div>
                        </div>
                        <div class="button" style="padding: 8px 10px; text-align: justify;">
                            <button type="submit"style=" padding:  8px 10px;;">submit</button>
                        </div>
                    </div>
                </div>
                <div class="inner30">
                    <div class="form-container">
                        <div class="table">
                            <div class="feilds">
                                <input type="text" class="input" required name="">
                            </div>
                            <div class="feilds">
                                <input type="text" class="input"required name="">
                            </div>
                            <div class="feilds">
                                 <input type="text" class="input"required name="">
                            </div>
                            <div class="feilds">                                
                                <input type="text" class="input"required name="">
                            </div>
                            <div class="button" style="padding: 8px 10px; text-align: justify;">
                                <button type="submit"style=" padding:  8px 10px;;">submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
</html>