@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.top_navbar {
  background: #172b4d;
  height: 60px;
  display: flex;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
}

.top_navbar .hamburger {
  width: 80px;
  background: #172b4d;
  position: relative;
  font-size: 28px;
}

.top_navbar .hamburger .hamburger__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 40px;
  height: 20px;
}

.top_navbar .hamburger__inner > div {
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.top_navbar .hamburger div.two {
  top: 10px;
  width: 40px;
}

.top_navbar .hamburger div.three {
  top: 20px;
}

.top_navbar .menu {
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  scroll-behavior: auto;
}

.top_navbar .menu .logo {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.top_navbar .menu .right_menu ul {
  display: flex;
}

.top_navbar .menu .right_menu ul li {
  position: relative;
}

.top_navbar .menu .right_menu ul li .fas {
  font-size: 22px;
  cursor: pointer;
  color: #172b4d;
}

.top_navbar .menu .right_menu ul li .profile_dd {
  position: absolute;
  top: 35px;
  right: -10px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  width: 180px;
  border-radius: 3px;
  display: none;
  user-select: none;
}

.top_navbar .menu .right_menu ul li .profile_dd.active {
  display: block;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item {
  padding: 10px;
  cursor: pointer;
  color: #004d40;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item:hover {
  background: #e0f2f1;
}

.top_navbar .menu .right_menu ul li .profile_dd:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 10px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.main_container .sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 225px;
  height: 100%;
  background: #004d40;
  transition: all 0.3s ease;
}

.main_container .sidebar .sidebar__inner {
  position: relative;
}

.main_container .sidebar .profile {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px 0;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.main_container .sidebar .profile .img {
  padding: 0 18px;
}

.main_container .sidebar .profile img {
  width: 45px;
}

.main_container .sidebar .profile p:first-child {
  font-size: 14px;
  color: #80cbc4;
  margin-bottom: 3px;
}

.main_container .container {
  margin-top: 60px;
  width: calc(100% - 225px);
  margin-left: 225px;
  padding: 30px;
  transition: all 0.3s ease;
}

.main_container .sidebar ul li a {
  color: #fff;
  font-size: 18px;
  padding: 20px 30px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  transition: all 0.3s ease;
}

.main_container .sidebar ul li a .icon {
  margin-right: 15px;
  font-size: 28px;
}

.main_container .sidebar ul li a span {
  display: inline-block;
}

.main_container .sidebar ul li a:hover,
.main_container .sidebar ul li a.active {
  background: #fff;
  color: #004d40;
}

.main_container .container .item {
  background: #fff;
  border: 1px solid #e0f2f1;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
}

/* after adding active class */
.wrapper.active .sidebar {
  width: 80px;
}

.wrapper.active .sidebar ul li a span.title,
.wrapper.active .profile_info {
  display: none;
}

.wrapper.active .main_container .container {
  width: calc(100% - 0px);
  margin-left: 0px;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* end of style  */
/* -///////////////////////////////////////////////////////// */

.createnew button {
  background-color: #286b3a;
  border-radius: 8px;
  border: 1px solid #2d5832;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #172b4d;
}
.createnew button:hover {
  background-color: #5cbf2a;
}
.createnew button:active {
  position: relative;
  top: 1px;
}
.tags {
  padding: 10px 10px;
  width: 60%;
}
.holder {
  margin-left: 700px;
  border-radius: 10px;
  margin-right: 14px;
  padding: 10px 10px;
  font-family: Arial, FontAwesome;
}
.outerring {
  float: left;
  width: 100%;
  clear: both;
}
.inner90 {
  width: 90%;
  margin-left: 17%;
  margin-top: 6%;
  float: left;
  clear: both;
}
.inner30 {
  width: 33%;
  float: left;
}
.inner20 {
  width: 23%;
  float: left;
}

.image_box {
  float: left;
  width: 120px;
  height: 120px;
}
#pic {
  float: left;
  width: 120px;
  height: 120px;
}
.rolling {
  margin-top: 20px;
}
.addphoto {
  clear: both;
  float: left;
  background-color: #1abc9c;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: arial;
  width: 200px;
  box-shadow: 4px 3px 10px 1px #9e9e9e;
}
.block1 {
  float: left;
  margin-top: -100px;
  width: 250px;
  margin-right: 3px;
  padding-left: 10px;
}
.onlytext_hori_div {
  float: left;
}
.onlytext_hori_div p {
  color: #939393;
  font-size: 14px;
  text-align: left;
  font-family: arial;
  margin-right: 10px;
  margin-top: 16px;
}
.onlyinput_horidiv input {
  margin-top: 10px;
  padding: 6px 0px;
  float: left;
  color: #000;
  border: none;
  border-bottom: 2px solid rgb(138, 135, 135);
  outline: none;
}
.onlytext_hori_div h4 {
  /*this is used in employ only text div*/
  color: #939393;
  font-size: 14px;
  text-align: left;
  font-family: arial;
  margin-right: 10px;
  margin-top: 16px;
}

/*  table style  */
#icon {
  color: #7d46aa;
  padding: 5px;
}
.content-table {
  align-content: center;
  text-align: center;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
